
  <!DOCTYPE html>
  <html lang="en">
      <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      </head>
  <body>
    <style>
      body{
        background-color: lightslategray;
      }
      </style>
      <h1>Super secret admin site for KVG National Bank</h1>
   <td> <a class="btn btn-success edit" href="../Customers/">Customers</a> </td>
  </div>
  </body>
</html>
