
<html>
<head>
  <style>
    body{
      background-image: url(https://news.microsoft.com/wp-content/uploads/prod/sites/442/2021/05/eu-data-06-05-21.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  h1{
    text-align:"center";
    font-size:20pt;
    color:#d6d5ec;}
    </style>

<title>
Login page
</title>
</head>
<body>
<h1> Log in as admin</h1>
<form name="login">
Username  <input type="text" name="userid"/>
Password  <input type="password" name="pswrd"/>
<input type="button" onclick="check(this.form)" value="Login"/>
<input type="reset" value="Cancel"/>
</form>
<script language="javascript">
function check(form)
{
 /*Tarkistaa matchaako annettu k채ytt채j채nimi ja salanasa tallennettuihin*/
 if(form.userid.value == "Admin" && form.pswrd.value == "KVG123")
  {
    alert("Success!") // Antaa ilmoituksen onnistuneesta kirjautumisesta
    window.open('/Menu')// Avaa valikko-sivun
    window.close(''); // Sulkee kirjautumis-sivun
  }
 else
 {
   alert("Incorrect credentials")// Antaa ilmoituksen virheellisest채 kirjautumisesta
  }
}
</script>
</body>
</html>