<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body{
    background-image: url(https://cdn.wallpapersafari.com/8/70/4yBAzK.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  h2{
    text-align: center;
  }

.dropbtn {
  background-color: #000000d3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(102, 100, 98);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #636160;}
</style>
<title> KVG NATIONAL BANK</title>
</head>
<body>

<h2>super secret admin site for KVG National Bank</h2>

<div class="dropdown">
  <button class="dropbtn">Go to</button>
  <div class="dropdown-content">
    <a href="/Customers">Customers</a>
    <a href="/Account">Account</a>
    <a href="/kortti">Card</a>
    <a href="/transactions">transactions</a>
  </div>
</div>
</body>
</html>
